<router-outlet></router-outlet>
<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Id" [(ngModel)]="id">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Message" [(ngModel)]="msg">
    </mat-form-field>
    <button (click)="postMsg()" mat-button color="primary">Post</button>
  </mat-expansion-panel>
</mat-accordion>

<div class="card-container">
  <mat-card class="example-card border" *ngFor="let item of result">
    <mat-card-header>
      <mat-card-title>{{item.id}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{item.todo}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="accent">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Keep</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon cursor-pointer" aria-hidden="false" aria-label="Example heart icon" (click)="listView = !listView" [innerHTML]="listView ? 'view_comfy' : 'list'"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container pt-3" style="max-width: 90vw;">
  <div class="row mb-2" style="height: 260px;">
    <div class="col-6 offset-3">
      <app-add-note (noteAdd)="onNoteAdd($event)"></app-add-note>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="mb-0">View Notes</h6>
        </mat-panel-title>
        <mat-panel-description>
          Click to expand or collapse notes.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="w-100 mt-4 rounded">
        <app-view-note (noteUpdate)="onNoteAdd($event)" [listView]="listView"></app-view-note>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
