<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h6 class="mb-0">Add Note</h6>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mb-2">
      <mat-form-field class="w-100">
        <input matInput placeholder="Title" [(ngModel)]="note.title">
      </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field class="w-100">
        <input matInput placeholder="Message" [(ngModel)]="note.body">
      </mat-form-field>
    </div>
    <div class="pt-2 text-right">
      <button mat-raised-button color="primary" (click)="postMsg()" mat-button color="primary">Post</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>